/* DESKTOP DEVICES */
@media screen and (max-width: 4025px){
.section_padding {
  padding: 20px 100px 30px 100px;
}

.footer {
  background-color: #1d1468;
}

#footerImage {
  width: 100%;
  margin-bottom: 10px;
}

._footer {
  display: flex;
  flex-direction: column;
}

.footer_links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}

.footer_links_div {
  width: 200px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.footer_links_div h4 {
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 1rem;
  text-align: center;
}

.footer_links_div h6 {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0.4rem;
  text-align: left;
}

.footer_links_div p {
  font-size: 15px;
  line-height: 15px;
  margin: 0.4rem;
  cursor: pointer;
}

.footer_links_div p:hover {
  color: #ff7700;
  transition: 0.2s ease-in-out;
}

.social_media_icons i:hover {
  color: #ff7700;
  transition: 0.2s ease-in-out;
}

.footer_links_div i {
  padding-right: 10px;
}

.social_media_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 100px 30px 10px;
}

.social_media_icons a p i {
  font-size: 40px;
  margin: 0 0.3rem 0.5rem;
  color: white;
}

.footer_below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.8rem;
}

hr {
  color: white !important;
  width: 100%;
}

.footer_copyright p {
  font-size: 15px;
  line-height: 15px;
  color: white;
  font-weight: 200;
}
}

/* MOBILE DEVICES */
@media screen and (max-width: 767px) {
  .section_padding {
    padding: 10px 10px 10px 10px;
  }

  .footer {
    background-color: #1d1468;
  }

  #footerImage {
    width: 90%;
    margin-bottom: 10px;
  }

  ._footer {
    display: flex;
    flex-direction: column;
  }

  .footer_links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
  }

  .footer_links_div {
    width: 200px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    padding-bottom: 5px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .footer_links_div h4 {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 1rem;
    text-align: center;
  }

  .footer_links_div h6 {
    font-size: 13.5px;
    line-height: 20px;
    margin-bottom: 0.4rem;
    text-align: left;
  }

  .footer_links_div p {
    font-size: 15px;
    line-height: 15px;
    margin: 0.4rem;
    cursor: pointer;
  }

  .footer_links_div p:hover {
    color: #ff7700;
  }

  .social_media_icons i:hover {
    color: #ff7700;
  }

  .footer_links_div i {
    padding-right: 10px;
  }

  .social_media_icons {
    display: flex;
    justify-content: space-between;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .social_media_icons a p i {
    font-size: 40px;
    color: white;
    margin-top: 1px;
  }

  .footer_below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 20px 5px 20px;
  }

  hr {
    color: white !important;
    width: 90%;
    margin: auto;
  }

  .footer_copyright p {
    font-size: 15px;
    line-height: 20px;
    color: white;
    font-weight: 200;
  }
}

/* iPAD MINI DEVICES */
@media screen and (min-width: 768px) and (max-width: 850px) {
  .section_padding {
    padding: 20px 20px 20px 20px;
  }

  .footer {
    background-color: #1d1468;
  }

  #footerImage {
    width: 100%;
    margin-bottom: 10px;
  }

  ._footer {
    display: flex;
    flex-direction: column;
  }

  .footer_links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
  }

  .footer_links_div {
    width: 200px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    padding-bottom: 5px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .footer_links_div h4 {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 1rem;
    text-align: center;
  }

  .footer_links_div h6 {
    font-size: 13.5px;
    line-height: 20px;
    margin-bottom: 0.4rem;
    text-align: left;
  }

  .footer_links_div p {
    font-size: 15px;
    line-height: 15px;
    margin: 0.4rem;
    cursor: pointer;
  }

  .footer_links_div p:hover {
    color: #ff7700;
  }

  .social_media_icons i:hover {
    color: #ff7700;
  }

  .footer_links_div i {
    padding-right: 10px;
  }

  .social_media_icons {
    display: flex;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 350px;
  }

  .social_media_icons a p i {
    font-size: 40px;
    color: white;
    margin-top: 1px;
    justify-content: center;
  }

  .footer_below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 20px 5px 17px;
  }

  hr {
    color: white !important;
    width: 95%;
    margin: auto;
  }

  .footer_copyright p {
    font-size: 15px;
    line-height: 20px;
    color: white;
    font-weight: 200;
  }
}

/* iPAD & TABLET DEVICES */
@media screen and (min-width: 851px) and (max-width: 1024px) {
  .section_padding {
    padding: 20px 30px 20px 30px;
  }

  .footer {
    background-color: #1d1468;
  }

  #footerImage {
    width: 100%;
    margin-bottom: 10px;
  }

  ._footer {
    display: flex;
    flex-direction: column;
  }

  .footer_links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
  }

  .footer_links_div {
    width: 205px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    padding-bottom: 5px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .footer_links_div h4 {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 1rem;
    text-align: center;
  }

  .footer_links_div h6 {
    font-size: 13.5px;
    line-height: 20px;
    margin-bottom: 0.4rem;
    text-align: left;
  }

  .footer_links_div p {
    font-size: 15px;
    line-height: 15px;
    margin: 0.4rem;
    cursor: pointer;
  }

  .footer_links_div p:hover {
    color: #ff7700;
  }

  .social_media_icons i:hover {
    color: #ff7700;
  }

  .footer_links_div i {
    padding-right: 10px;
  }

  .social_media_icons {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 1px;
  }

  .social_media_icons a p i {
    font-size: 40px;
    color: white;
    margin-top: 1px;
    justify-content: center;
  }

  .footer_below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 20px 5px 19px;
  }

  hr {
    color: white !important;
    width: 96%;
    margin: auto;
  }

  .footer_copyright p {
    font-size: 15px;
    line-height: 20px;
    color: white;
    font-weight: 200;
  }
}
