/* DESKTOP DEVICES */
@media screen and (max-width: 4025px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #20146c;
    padding: 25px 50px 25px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  }

  #navbarImage {
    width: 12%;
  }

  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar li {
    list-style: none;
    margin: 0 20px;
    position: relative;
  }

  #navbar li a {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 540;
    color: white;
    transition: 0.2s ease-in-out;
    position: relative;
    border-bottom: 3px solid transparent;
    width: fit-content;
  }

  @media (hover: hover) {
    #navbar li a:hover {
      border-bottom: 3px solid #ff7700;
      width: fit-content;
    }

    #navbar li:hover .dropdown {
      display: block;
    }
  }

  #mobileMenuButton_div {
    display: none;
  }

  #navbar p {
    display: none;
  }

  .dropdown {
    position: absolute;
    list-style-type: none;
    text-align: start;
    display: none;
    margin-top: 3px;
    background: #20145c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 0px 12px 0px;
  }

  .dropdown li {
    cursor: pointer;
  }

  .dropdown li a {
    display: block;
  }

  #dropdown li a {
    font-weight: 350;
    margin-top: 7px;
    white-space: nowrap;
  }

  .dropdown.clicked {
    display: none;
  }

  #navbar li i {
    display: none;
  }
}

/* MOBILE DEVICES */
@media screen and (max-width: 767px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #20146c;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 20px 25px 15px 25px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 79px;
    right: -300px;
    width: 300px;
    height: calc(100vh - 60px);
    background: #ff7700;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 30px 0 0 10px;
    transition: 0.2s ease-in-out;
    border-top-left-radius: 20px;
    z-index: 1;
  }

  #dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 79px;
    right: -300px;
    width: 300px;
    height: calc(100vh - 60px);
    background: #ff7700;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 30px 0 0 10px;
    transition: 0.2s ease-in-out;
    border-top-left-radius: 20px;
    z-index: 1;
  }

  #navbar.activeNavbar {
    right: 0px;
  }

  #dropdown.activeDropdown {
    right: 0px;
  }

  #navbar li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-bottom: 22px;
  }

  #dropdown li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-bottom: 15px;
  }

  #navbar p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.13rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  #navbar li a {
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
  }

  #dropdown li a {
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
  }

  #navbar li i {
    font-size: 15px;
    color: white;
    margin-left: auto;
    display: block;
    cursor: pointer;
  }

  #navbarImage {
    width: 133.5px;
  }

  #mobileMenuButton_div {
    display: block;
  }

  #backArrowHead_div i {
    cursor: pointer !important;
    padding-left: 20px !important;
    margin-top: -48px !important;
  }

  #backArrowHead_div {
    display: block !important;
  }

  #mobileMenuButton_div i {
    font-size: 27px;
    cursor: pointer;
    color: white;
  }
}

/* iPAD MINI DEVICES */
@media screen and (min-width: 768px) and (max-width: 850px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #20146c;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 25px 25px 20px 25px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 89px;
    right: -400px;
    width: 400px;
    height: calc(100vh - 60px);
    background: #ff7700;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 30px 0 0 10px;
    transition: 0.2s ease-in-out;
    border-top-left-radius: 20px;
    z-index: 1;
  }

  #dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 89px;
    right: -400px;
    width: 400px;
    height: calc(100vh - 60px);
    background: #ff7700;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 30px 0 0 10px;
    transition: 0.2s ease-in-out;
    border-top-left-radius: 20px;
    z-index: 1;
  }

  #navbar.activeNavbar {
    right: 0px;
  }

  #dropdown.activeDropdown {
    right: 0px;
  }

  #navbar li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    margin-bottom: 22px;
  }

  #dropdown li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    margin-bottom: 15px;
  }

  #navbar p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  #navbar li a {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
  }

  #dropdown li a {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
  }

  #navbar li i {
    font-size: 15px;
    color: white;
    margin-left: auto;
    display: block;
  }

  #navbarImage {
    width: 135px;
  }

  #mobileMenuButton_div {
    display: block;
  }

  #mobileMenuButton_div i {
    font-size: 30px;
    cursor: pointer;
    color: white;
  }

  #backArrowHead_div i {
    cursor: pointer !important;
    padding-left: 20px !important;
    margin-top: -48px !important;
  }

  #backArrowHead_div {
    display: block !important;
  }
}

/* iPAD & TABLET DEVICES */
@media screen and (min-width: 851px) and (max-width: 1024px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #20146c;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 25px 35px 20px 30px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 93px;
    right: -400px;
    width: 400px;
    height: calc(100vh - 60px);
    background: #ff7700;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 30px 0 0 10px;
    transition: 0.2s ease-in-out;
    border-top-left-radius: 20px;
    z-index: 1;
  }

  #dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 93px;
    right: -400px;
    width: 400px;
    height: calc(100vh - 60px);
    background: #ff7700;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 30px 0 0 10px;
    transition: 0.2s ease-in-out;
    border-top-left-radius: 20px;
    z-index: 1;
  }

  #navbar.activeNavbar {
    right: 0px;
  }

  #dropdown.activeDropdown {
    right: 0px;
  }

  #navbar li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    margin-bottom: 22px;
  }

  #dropdown li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    margin-bottom: 15px;
  }

  #navbar p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  #navbar li a {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
  }

  #dropdown li a {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
  }

  #navbarImage {
    width: 145px;
  }

  #mobileMenuButton_div {
    display: block;
  }

  #mobileMenuButton_div i {
    font-size: 35px;
    cursor: pointer;
    color: white;
  }

  #backArrowHead_div i {
    cursor: pointer !important;
    padding-left: 20px !important;
    margin-top: -48px !important;
  }

  #backArrowHead_div {
    display: block !important;
  }

  #navbar li i {
    font-size: 15px;
    color: white;
    margin-left: auto;
    display: block;
  }
}
